@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");


 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif ;
    background-color: #e9f1fa;
    color: #00abe4;
 } 

h2 {
    background-color: #084d9b;
    color: hsl(209, 61%, 16%);
    color: green; 
    cursor: pointer;
    transition: 1.5 ease-in-out; 
} 

h2:hover {
    color: #ffff;
    letter-spacing: 2px;
    font-weight: bolder;

}

/* -------------------- list links ----------------*/

 ul {
    list-style: none;
}

a {
    text-decoration: none;
} 

/* -------------------- navbar ----------------*/
 nav { 
    background-color: #cadaec;
    box-shadow: 0px 5px 15px rgba(0, 0, 0.1, 0.2);
}

.navbar-header {
    display: flex;
    justify-content: space-between;
} 

.navbar-header:hover {
    background:hsl(209, 61%, 16%);
    color: #ffff;
}

.navbar-toggle {
    font-size: 40px;
    color: hsl(209, 61%, 16%);
    background: transparent;
    border-color: transparent;
    transition: all 0.3s linear;
    cursor: pointer;
}

.navbar-toggle:hover {
    color: hsl(205, 86%, 17%);
    color:#ffff;
    transform: rotate(90deg);
}


.close-btn {
    font-size: 32px;
    background: transparent;
    border-color: transparent;
    color:hsl(209, 61%, 16%);
    transition: all 0.3s linear;
    cursor: pointer; 
    color: var(--clr-red-dark);
   }

  .close-btn:hover {
    color: red;
    transform: rotate(360deg);
  } 


.links  a {
    color:hsl(209, 61%, 16%) ;
    color:green;
    font-size: 18px;
    font-weight: bolder;
    text-transform: capitalize;
    letter-spacing: 1px;
    display: block;
    padding: 8px 16px;
    cursor: pointer;
    transition: all 0.3s linear;
} 

 .links {
    height: 0px;
    overflow: hidden;
    transition: all 0.3s ease linear;
}

.links :hover {
    background: transparent;
    transition: all 0.3s ease  linear;
}

.login-btn {
    display: none;
}



/*--------------- for toggle class ------------*/
.show-links {
    height: 640px;
}


 


/*--------------- MEDIA QUARY FOR full screenNAVBAR ------------*/
 @media screen and (min-width:800px) { 
    nav {
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
    }

    .navbar-header {
        padding: 0;
    }

    .navbar-toggle {
        display: none;
    }

    .login-btn {
        display: block;
    } 

    /*------------------ IMPORTATNT TO ADD -------------*/
    .links {
        height: auto;
        display: flex;
        position: relative;
    }

    .links :hover {
        background: transparent;
    }

    .links a {
        padding: 0;
        margin: 0 12px ; 
        border-bottom: 1px solid black;
    }

    .links a :hover {
        padding: 0;
        background: transparent;
        text-underline-position: below;
       
    }


    .login-btn {
        height: 50px;
        width: 150px;
        border-radius: 10px;
        border-color: transparent;
         transform: capitalize;
         font-size: 18px;
         font-weight: bolder;
         letter-spacing: 2px;
        background: #ffff;
        color:hsl(209, 61%, 16%);
        color:green; 
        transform: capitalize;
        transition: 0.3s ease-in-out;
        cursor: pointer;

    }

    .login-btn:hover {
        background: #e9f1fa;
        font-size: bold;
        transition: all 0.3s ease-in-out ;
        border-color: white;
    }

} 