/*---------------- FONT STYLE -----------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    width: 100%;
    /* height: 100vh; */
    background: #ecf0f3;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    place-items: center;
    /* overflow: hidden; */
    font-family: poppins;
}

.container {
    position: relative;
    width: 350px;
    height: 100%;
    border-radius: 20px;
    padding: 40px;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;

}

.fixit-logo {
    height: 80px;
    width: 80px;
    object-fit: cover;
    /* background:url("./images/fixitlogo.jpg"); */
    margin: auto;
    border-radius: 50%;
    box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
}

.fixit-title {
    margin-top: 10px;
    font-weight: 900;
    font-size: 1.8rem;
    /* color: green; */
    letter-spacing: 1px;
    color: #4d7902;
    /* color: #059142; */
    /* color: #006a4e; */
    /* color: #08f26e; */
    /* color: #06a94d; */
}

.input {
    text-align: left;
    margin-top: 30px;
}

label, input, button {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
}

label {
    margin-bottom: 4px;
    font-family: poppins;
}

label:nth-of-type(2) {
    margin-top: 12px;
}

input::placeholder {
    color: gray;
}

input {
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

input {
    caret-color: #4d7902;
  }
  

.login-btn {
    color: white;
    margin-top: 20px;
    background: #4d7902;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
    transition: 0.5s;
}

.login-btn:hover {
    box-shadow: none;
}

.no-account a {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    list-style: none;
    color: gray;
    
}

.gender {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    margin-top: 10px;
    /* padding: 10px; */
    
}

.gender label {
    margin-top: 0px;
    margin-right: 20px;
    padding-left: 10px;
    caret-color: #4d7902;
    
}

.gender-input {
    border: none;
    box-shadow: none;
    text-decoration: none;
    height: 18px;
    /* margin-left: 20px; */
    filter: hue-rotate(#4d7902);
    accent-color: #4d7902;

   
}


.radio {
    display: flex;
}


.no-account { 
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    
}
/* 
.no-account p {
    margin-top: 6px;
} */

.terms-condition {
    margin-top: 15px;
    font-size: 12px;
}